.notepad {
  position: relative;
  display: block;
}

.editor {
  display: block;
  width: 100%;
  position: relative;
  min-height: 700px;
  cursor: text;
  box-sizing: border-box;
  border: 1px solid;
  font-size: 14px;
  overflow: auto;

  &:focus {
    outline: none;
    border: 1px solid #a0aeb2;
  }
}

.editor-line {
  height: 20px;
  box-sizing: border-box;
  border: 1px solid transparent;;

  &.current {
    border-color: rgba(0, 78, 140, 0.2);
  }
}

.notepad-cursor {
  position: absolute;
  display: inline-block;
  width: 2px;
  background: #004e8c;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
